@model IEnumerable<EcommerceProject.Models.OrderItem>

@{
    ViewData["Title"] = "Items";
}
@if (Model != null)
{

    <h2>List of items you have purchased</h2>

    <p>

    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderItemName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderItemPrice)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderItemPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order.OrderId)
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>Empty.</h2>
}